{% extends "issue/article_base.html" %}


{%block title%}{{ article.headline }}{% endblock %}



{% block article %}	


<table width="100%" border="0" bordercolor="red" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" class="insideSectHead">
{{ section }}
</td>
</tr>
<tr>

<td style="padding:10px;" colspan="2">


{% for article in articles_in_section %}

<h1 style="margin: 0pt; padding: 0pt; font-size: 16px;">{{ article.headline }}</h1>
{{ article.body|safe }} 

{% if article.has_related_articles %}
<table width="100%" cellpadding="5" cellspacing="3" border="0"  class="rightside">
	<tr bgcolor="#B6B4B5">
	<td width="50%" align="left" valign="top">
		<b>Related Stories By Company</b>
	</td>
	<td width="50%" align="left" valign="top">
		<b>Related Stories By Sport</b>
	</td>
	</tr>
	<tr bgcolor="#D8CFD2">
	<td valign="top">
  	{% for a in article.related_articles_by_company %}
			<strong><a href="{{ a.get_absolute_url }}">{{ a.mini_headline|safe }}</a></strong>
			<br>
			{{ a.issue_date|date:"F j, Y" }} :
      SportsBusiness Daily
			<br><br>
	  {% endfor %}

 		</td>
 		<td valign="top">
    	{% for a in article.related_articles_by_sport %}
  			<strong><a href="{{ a.get_absolute_url }}">{{ a.mini_headline|safe }}</a></strong>
  			<br>
				{{ a.issue_date|date:"F j, Y" }} :
        SportsBusiness Daily
  			<br><br>
		  {% endfor %}
 		</td>
  </tr>
</table>
{% endif %}

<br>
{% endfor %}


</td>
</tr>
</table>



{% endblock %}
